@use '@/assets/scss/settings/colors';
@use '@/assets/scss/settings/fonts';

.button-phone {
  background: $background-card;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0 0.188rem 0.5rem 0 colors.$shadow-phone;
  cursor: pointer;
  height: 3.125rem;
  width: 3.125rem;
}

.button-share {
  background: $blue;
  font-family: $soraBold;
  font-size: 1rem;
  border: none;
  border-radius: 0.625rem;
  color: $border-card;
  cursor: pointer;
  margin-left:0.625rem ;
  padding: 1rem 0;
  width: 84%;
}

@media (min-width: 991px) {
  .button-share {
    width: 95%;
  }
}