/******** primary colors ***********/
$yellow: #f8af19;
$blue: #1565C0;
$red: #dc0000;

/******** secondary colours***********/
$green: #19a51e;
$orange:  #FF9C00;
$purple: #800080;

/**********  neutral colors *********/
$white: #ffffff;
$black: #000000;

/********** Background ***********/
$background-card: #fafafa;

/*********** Border ************/
$border-img:#A5D0FD;
$border-card:#eeee;

/********** Fonts *************/
$fonts:#3C3C3F;

/********** Shadow ***************/
$shadow-card:#B6BABF;
$shadow-phone:#DADCE0;
